@use "./partials/variables.scss" as *;
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


* {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

li {
    list-style-type: none;
}

.container_site {
    width: 70%;
    margin: 0 auto;
}

.btn_red {
    background-color: #cc1a26;
    border-radius: 40px;
    border: solid 1px #cc1a26;
    color: white;
}

.btn_medium {
    padding: 5px 20px;
}