@use "./partials/variables.scss" as *;
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";


* {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;

    color: $brandSecondary;

    &:hover {
        color: $brandPrimary;
        cursor: pointer;
    }

}

.container_site {
    width: 70%;
    margin: 0 auto;
}

.btn_red {
    background-color: $brandThird;
    border-radius: 40px;
    border: solid 1px $brandThird;
    color: $brandSecondary;
}

.btn_medium {
    padding: 5px 20px;
}